*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--navbar-h: 4rem;
}

.h-nav {
	height: var(--navbar-h);
}

.h-dvh-nav {
	height: calc(100dvh - var(--navbar-h));
}

.min-h-dvh-nav {
	min-height: calc(100dvh - var(--navbar-h));
}

.text-outline {
	--outline-size: 0.05em;
	--outline-size-neg: calc(var(--outline-size) * -1);
	--outline: #ffffff;
	--outline-blur: 0.01em;

	text-shadow:
		var(--outline-size-neg) var(--outline-size-neg) var(--outline-blur) var(--outline),
		var(--outline-size-neg) var(--outline-size) var(--outline-blur) var(--outline),
		var(--outline-size) var(--outline-size-neg) var(--outline-blur) var(--outline),
		var(--outline-size) var(--outline-size) var(--outline-blur) var(--outline),
		0 var(--outline-size) var(--outline-blur) var(--outline),
		0 var(--outline-size-neg) var(--outline-blur) var(--outline),
		var(--outline-size) 0 var(--outline-blur) var(--outline),
		var(--outline-size-neg) 0 var(--outline-blur) var(--outline);
}

.sr-only {
	clip: rect(0, 0, 0, 0);
	position: absolute;
	margin: -1px;
	overflow: hidden;
}

.border-corner {
	--b: 4px; /* thickness of the border */
	--c: red; /* color of the border */
	--w: 20px; /* width of border */
	position: relative;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background: var(--c, red);
		padding: var(--b);
		border-radius: inherit;
		-webkit-mask:
			linear-gradient(0deg, #000 calc(2 * var(--b)), #0000 0) 50% var(--b) /
				calc(100% - 2 * var(--w)) 100% repeat-y,
			linear-gradient(-90deg, #000 calc(2 * var(--b)), #0000 0) var(--b) 50%/100%
				calc(100% - 2 * var(--w)) repeat-x,
			linear-gradient(#000 0 0) content-box,
			linear-gradient(#000 0 0);
		-webkit-mask-composite: destination-out;
		mask-composite: exclude;
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;
