*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--navbar-h: 4rem;
}

.h-nav {
	height: var(--navbar-h);
}

.h-dvh-nav {
	height: calc(100dvh - var(--navbar-h));
}

.min-h-dvh-nav {
	min-height: calc(100dvh - var(--navbar-h));
}

.text-outline {
	--outline-size: 0.05em;
	--outline-size-neg: calc(var(--outline-size) * -1);
	--outline: #ffffff;
	--outline-blur: 0;

	text-shadow:
		var(--outline-size-neg) var(--outline-size-neg) var(--outline-blur) var(--outline),
		var(--outline-size-neg) var(--outline-size) var(--outline-blur) var(--outline),
		var(--outline-size) var(--outline-size-neg) var(--outline-blur) var(--outline),
		var(--outline-size) var(--outline-size) var(--outline-blur) var(--outline);
}

.sr-only {
	clip: rect(0, 0, 0, 0);
	position: absolute;
	margin: -1px;
	overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
